@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&family=Roboto+Condensed&display=swap');

*{
    margin: 0;
}

.left{
    position: fixed;
    background-color: rgb(145, 204, 243);
    height: 100%;
    width: 20%;
    display: flex;
    box-shadow: 3px 0px 11px 2px rgba(0, 0, 0, 0.205);

}

img{
    width: 21vw;
    height: 32vh;
    box-shadow: -1px 0px 11px 0px rgba(0, 0, 0, 0.205);
    position: absolute;
    top: 18vh;
    left: 15vw;
}

.resume{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 4em;
    box-shadow: -1px 0px 11px 0px rgba(0, 0, 0, 0.205);
    letter-spacing: 1rem;
    background-color: rgb(255, 255, 255);
    width: 16vw;
    position: absolute;
    top: 30vh;
    left: 4vw;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

.right{
    width: 50vw;
    height: auto;
    left: 40vw;
    top: 20vh;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 5em;
    border: 3px solid black;
    border-left: 0;
    border-right: 0;
}

.skills{
    width: 50vw;
    height: auto;
    left: 41vw;
    top: 50vh;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2em;

}
